## Resume Parser

### Installation

Install spacy version 2.3.5:
pip install spacy==2.3.5

Install en_core_web_sm 2.3.1:
pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz

Install pyreparser:
pip install pyresparser

#### NOTE: 

The above program is running on Python 3.9. However, Python 3.10 worked for some people.

Remember to run Python in 64 bit. If Resource [93mstopwords[0m not found. -> start Python console -> import nltk -> nltk.download('stopwords')

In [21]:
from pyresparser import ResumeParser

In [22]:
# import en_core_web_sm
# nlp = en_core_web_sm.load()

In [23]:
# import PyPDF2
# import os

#### Ignore the warning messages

In [24]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

In [ ]:
###

In [25]:
data = ResumeParser("deedy-cv.pdf").get_extracted_data()

In [26]:
data

{'name': 'Debarghya Das',
 'email': 'deedy@fb.com',
 'mobile_number': '607.379.5733',
 'skills': ['Engineering',
  'Computer science',
  'Css',
  'Python',
  'Javascript',
  'C++',
  'Research',
  'Interactive',
  'Matlab',
  'Shell',
  'Teaching',
  'Operating systems',
  'Design',
  'Facebook',
  'Scala',
  'C',
  'Js',
  'Programming',
  'Coding',
  'Mysql',
  'Java',
  'Mathematics',
  'Php',
  'Scripting',
  'Android',
  'Assembly',
  'Robot',
  'Plan',
  'Software engineering',
  'Cloud',
  'Unix',
  'Ios'],
 'college_name': None,
 'degree': ['MENG IN COMPUTER SCIENCE'],
 'designation': ['SOFTWARE ENGINEER', 'BS IN COMPUTER SCIENCE'],
 'experience': ['FACEBOOK | SOFTWARE ENGINEER',
  'Jan 2015 - Present | New York, NY',
  'COURSERA | KPCB FELLOW + SOFTWARE ENGINEERING INTERN',
  'June 2014 – Sep 2014 | Mountain View, CA',
  '• 52 out of 2500 applicants chosen to be a KPCB Fellow 2014.',
  '• Led and shipped Yoda - the admin interface for the new Phoenix platform.',
  '• Full-stack developer - Wrote and reviewed code for JS using Backbone, Jade,',
  'Stylus and Require and Scala using Play',
  'GOOGLE | SOFTWARE ENGINEERING INTERN',
  'May 2013 – Aug 2013 | Mountain View, CA',
  '• Worked on the YouTube Captions team, in Javascript and Python to plan, to',
  'design and develop the full stack to add and edit Automatic Speech Recognition',
  'captions. In production.',
  '• Created a backbone.js-like framework for the Captions editor.',
  'PHABRICATOR | OPEN SOURCE CONTRIBUTOR & TEAM LEADER',
  'Jan 2013 – May 2013 | Palo Alto, CA & Ithaca, NY',
  '• Phabricator is used daily by Facebook, Dropbox, Quora, Asana and more.',
  '• I created the Meme generator and more in PHP and Shell.',
  '• Led a team from MIT, Cornell, IC London and UHelsinki for the project.',
  'RESEARCH',
  'CORNELL ROBOT LEARNING LAB | RESEARCHER',
  'Jan 2014 – Jan 2015 | Ithaca, NY',
  'Worked with Ashesh Jain and Prof Ashutosh Saxena to create PlanIt, a tool which',
  'learns from large scale user preference feedback to plan robot trajectories in human',
  'environments.',
  'CORNELL PHONETICS LAB | HEAD UNDERGRADUATE RESEARCHER',
  'Mar 2012 – May 2013 | Ithaca, NY',
  'Led the development of QuickTongue, the ﬁrst ever breakthrough tongue-controlled',
  'game with Prof Sam Tilsen to aid in Linguistics research.',
  'AWARDS',
  '2014',
  '2014',
  '2013 National',
  '7th/120',
  '2013',
  '2nd/150',
  '2012',
  '2011 National',
  'top 52/2500 KPCB Engineering Fellow',
  '1st/50',
  'Microsoft Coding Competition, Cornell',
  'Jump Trading Challenge Finalist',
  'CS 3410 Cache Race Bot Tournament',
  'CS 3110 Biannual Intra-Class Bot Tournament',
  'Indian National Mathematics Olympiad (INMO) Finalist'],
 'company_names': ['deedy@fb.com'],
 'no_of_pages': 1,
 'total_experience': 12.33}

In [27]:
name = data['name']

In [28]:
name

'Debarghya Das'

In [29]:
email = data['email']

In [30]:
email

'deedy@fb.com'

In [31]:
mobile = data['mobile_number']

In [32]:
mobile

'607.379.5733'

In [33]:
skills = data['skills']

In [34]:
skills

['Engineering',
 'Computer science',
 'Css',
 'Python',
 'Javascript',
 'C++',
 'Research',
 'Interactive',
 'Matlab',
 'Shell',
 'Teaching',
 'Operating systems',
 'Design',
 'Facebook',
 'Scala',
 'C',
 'Js',
 'Programming',
 'Coding',
 'Mysql',
 'Java',
 'Mathematics',
 'Php',
 'Scripting',
 'Android',
 'Assembly',
 'Robot',
 'Plan',
 'Software engineering',
 'Cloud',
 'Unix',
 'Ios']

In [35]:
import pandas as pd
df = pd.DataFrame(skills, columns=['Skills'])

In [36]:
df

                  Skills
0            Engineering
1       Computer science
2                    Css
3                 Python
4             Javascript
5                    C++
6               Research
7            Interactive
8                 Matlab
9                  Shell
10              Teaching
11     Operating systems
12                Design
13              Facebook
14                 Scala
15                     C
16                    Js
17           Programming
18                Coding
19                 Mysql
20                  Java
21           Mathematics
22                   Php
23             Scripting
24               Android
25              Assembly
26                 Robot
27                  Plan
28  Software engineering
29                 Cloud
30                  Unix
31                   Ios