## Resume Parser

### Installation

Install spacy version 2.3.5:
pip install spacy==2.3.5

Install en_core_web_sm 2.3.1:
pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz

Install pyreparser:
pip install pyresparser

#### NOTE: 

The above program is running on Python 3.9. However, Python 3.10 worked for some people.

Remember to run Python in 64 bit. If Resource [93mstopwords[0m not found. -> start Python console -> import nltk -> nltk.download('stopwords')

In [3]:
from pyresparser import ResumeParser

In [4]:
# import en_core_web_sm
# nlp = en_core_web_sm.load()

In [5]:
# import PyPDF2
# import os

#### Ignore the warning messages

In [6]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

#### Parsing

In [7]:
data = ResumeParser("jakes-resume.pdf").get_extracted_data()

In [8]:
data

{'name': 'Jake Ryan',
 'email': 'jake@su.edu',
 'mobile_number': '123-456-7890',
 'skills': ['Numpy',
  'Flask',
  'Api',
  'C',
  'Postgresql',
  'Css',
  'Technical',
  'Pandas',
  'Presentations',
  'Java',
  'Javascript',
  'Rest',
  'Github',
  'Ui',
  'Pycharm',
  'Wordpress',
  'Video',
  'Analyze',
  'Celery',
  'Html',
  'Research',
  'Python',
  'Visual',
  'Docker',
  'Matplotlib',
  'Sql',
  'Computer science',
  'Cloud',
  'C++',
  'R'],
 'college_name': None,
 'degree': ['Bachelor of Arts in Computer Science'],
 'designation': ['Undergraduate Research Assistant'],
 'experience': ['Undergraduate Research Assistant',
  'Texas A&M University',
  'Georgetown, TX',
  'Aug. 2018 – May 2021',
  'Bryan, TX',
  'Aug. 2014 – May 2018',
  'June 2020 – Present',
  'College Station, TX',
  '• Developed a REST API using FastAPI and PostgreSQL to store data from learning management systems',
  '• Developed a full-stack web application using Flask, React, PostgreSQL and Docker to analyze GitHub data',
  '• Explored ways to visualize GitHub collaboration in a classroom setting',
  'Information Technology Support Specialist',
  'Southwestern University',
  'Sep. 2018 – Present',
  'Georgetown, TX',
  '• Communicate with managers to set up campus computers used on campus',
  '• Assess and troubleshoot computer problems brought by students, faculty and staff',
  '• Maintain upkeep of computers, classroom equipment, and 200 printers across campus',
  'Artificial Intelligence Research Assistant',
  'Southwestern University',
  'May 2019 – July 2019',
  'Georgetown, TX',
  '• Explored methods to generate video game dungeons based off of The Legend of Zelda',
  '• Developed a game in Java to test the generated dungeons',
  '• Contributed 50K+ lines of code to an established codebase via Git',
  '• Conducted a human subject study to determine which video game dungeon generation technique is enjoyable',
  '• Wrote an 8-page paper and gave multiple presentations on-campus',
  '• Presented virtually to the World Conference on Computational Intelligence'],
 'company_names': ['Artificial Intelligence Research Assistant'],
 'no_of_pages': 1,
 'total_experience': 4.08}

In [9]:
name = data['name']

In [10]:
name

'Jake Ryan'

In [11]:
email = data['email']

In [12]:
email

'jake@su.edu'

In [13]:
mobile = data['mobile_number']

In [14]:
mobile

'123-456-7890'

In [15]:
skills = data['skills']

In [16]:
skills

['Numpy',
 'Flask',
 'Api',
 'C',
 'Postgresql',
 'Css',
 'Technical',
 'Pandas',
 'Presentations',
 'Java',
 'Javascript',
 'Rest',
 'Github',
 'Ui',
 'Pycharm',
 'Wordpress',
 'Video',
 'Analyze',
 'Celery',
 'Html',
 'Research',
 'Python',
 'Visual',
 'Docker',
 'Matplotlib',
 'Sql',
 'Computer science',
 'Cloud',
 'C++',
 'R']

In [17]:
import pandas as pd
df = pd.DataFrame(skills, columns=['Skills'])

In [18]:
df

              Skills
0              Numpy
1              Flask
2                Api
3                  C
4         Postgresql
5                Css
6          Technical
7             Pandas
8      Presentations
9               Java
10        Javascript
11              Rest
12            Github
13                Ui
14           Pycharm
15         Wordpress
16             Video
17           Analyze
18            Celery
19              Html
20          Research
21            Python
22            Visual
23            Docker
24        Matplotlib
25               Sql
26  Computer science
27             Cloud
28               C++
29                 R